<div class="fondo">
    <header>Carrito de compras</header>
    <div *ngIf="productosEnCarrito.length===0">
        <header>No hay productos en el carrito </header>

    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Imagen</th>
                <th>Nombre</th>
                <th>Descripicion</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Acciones</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let item of productosEnCarrito; let i=index">
                <td><img [src]="item.producto.img" alt="{{item.producto.nombre}}" style="width: 50px; height: 50px">
                </td>
                <td>{{item.producto.nombre}}</td>
                <td>{{item.producto.descripcion}}</td>
                <td>{{item.producto.precio | currency}}</td>
                <td>
                    <button class="neu-button"  (click)="quitarCantidad(i)">-</button>
                    {{item.cantidad}}
                    <button class="neu-button" (click)="agregarCantidad(i)">+</button>
                </td>
                <td>
                    <button class="neu-button" (click)="eliminarProducto(item.producto.id)">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="text-end mt-4" *ngIf="productosEnCarrito.length > 0">
        <h4 class="fw-bold">Total: {{calcularTotal()}} </h4>

        <button class="btn btn-primary mt-2" class="neu-button" (click)="irAFormularioCompra()">
            <i class="bi bi-cart-check"></i> Realizar Compra
        </button>
    </div>

</div>