
<form class="form">
    <div class="container">
         <p class="title">Registrarse</p>
        <p class="message">Registratate ahora y ten acceso por completo a nuestra pagina. </p>
        <div class="flex">
            <label>
                <input required="" placeholder="" type="text" class="input">
                <span>Primer nombre</span>
            </label>

            <label>
                <input required="" placeholder="" type="text" class="input">
                <span>Segundo nombre</span>
            </label>
        </div>

        <label>
            <input required="" placeholder="" type="email" class="input">
            <span>Email</span>
        </label>

        <label>
            <input required="" placeholder="" type="Contraseña" class="input">
            <span>Contraseña</span>
        </label>
        <label>
            <input required="" placeholder="" type="password" class="input">
            <span>Confirmar contraseña</span>
        </label>
        <br> 
        <button class="neu-button">Registrarme</button>
        <p class="signin">¿Ya tienes una cuenta?
            <button routerLink="/inicio-sesion">Iniciar sesion</button>
        </p>


    </div>
</form>