<div class="fondo">

     <head>
          <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
     </head>

     <body>
          <header>WE ARE</header>

          <div>
               <img src="https://fearofgod.com/cdn/shop/files/Desktopv2_x1400.jpg?v=1747248072" class="d-block w-100"
                    alt="...">
          </div>
          <br><br>
          <hr>

          <header>FEAR OF GOD CELEBRATES THE DIGNITY OF DESIGN</header>

          <div class="text">
               Este año, Fear of God encuentra una profunda alineación con la exposición del Instituto de Vestuario <br>
               de Primavera de 2025 del Museo Metropolitano de Arte, “Superfine: Tailoring Black Style”,<br> una
               exploración y celebración de la expresión negra a través de la excelencia sartorial.
               <br> Fotografía de Roza Wiktoria Tyborowska.
          </div>
          <hr>
          <section class="gallery">
               <img src="https://fearofgod.com/cdn/shop/files/7_d132faba-2544-4d29-993c-635c710c77e5.jpg?v=1747162089&width=1440"
                    alt="Look 1">
               <p>Para mí, el poder de la autorrealización significa poder operar al máximo de mi capacidad, porque me
                    conozco bien. La autorrealización es, igualmente, lo que se requiere para darte el espacio para
                    crecer, así como para lo que sea que te conviertas en ese espacio.</p>
          </section>

     </body>
</div>