<div class="fondo">

     <head>
          <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
     </head>

     <body>
          <header>WE ARE</header>

          <div>
               <img src="https://fearofgod.com/cdn/shop/files/Desktopv2_x1400.jpg?v=1747248072" class="d-block w-100"
                    alt="...">
          </div>
          <br><br>
          <hr>

          <header>FEAR OF GOD CELEBRATES THE DIGNITY OF DESIGN</header>

          <div class="text">
               Este año, Fear of God encuentra una profunda alineación con la exposición del Instituto de Vestuario <br>
               de Primavera de 2025 del Museo Metropolitano de Arte, “Superfine: Tailoring Black Style”,<br> una
               exploración y celebración de la expresión negra a través de la excelencia sartorial.
               <br> Fotografía de Roza Wiktoria Tyborowska.
          </div>
          <hr>


          <section class="intro">
               <div class="intro-img">
                    <img src="img1.jpg" alt="Colección 8">
               </div>
               <div class="intro-text">
                    <h2>COLECCIÓN 8</h2>
                    <p>Fear of God presenta la llegada de la Colección 8, que debutó la primavera pasada en el primer
                         desfile de la casa en el Hollywood Bowl.</p>
               </div>
          </section>

          <section class="gallery">
               <img src="img2.jpg" alt="Look 1">
               <img src="img3.jpg" alt="Look 2">
          </section>

          <section class="description">
               <p>
                    La colección 8 encarna y refuerza la perspectiva de Fear of God sobre el lujo estadounidense a
                    través de prendas atemporales y elegantes.
               </p>
          </section>

          <section class="triple-gallery">
               <img src="img4.jpg" alt="Look 3">
               <div class="middle-text">
                    <p>
                         Derivada de una sutil mezcla de influencias que abrazan las experiencias de la perspectiva y el
                         viaje individual, la oferta extiende el lenguaje de diseño de la casa a través de disposiciones
                         textiles y proporciones arquitectónicas.
                    </p>
               </div>
               <img src="img5.jpg" alt="Look 4">
          </section>


     </body>
</div>