<header>Iniciar Sesion</header>
<hr>

<body> 
<form class="form">
    <p class="form-title">Iniciar sesion en tu cuenta</p>
    <div class="input-container">
        <input type="Email" placeholder="Ingresar email">
        <span>
        </span>
    </div>
    <div class="input-container">
        <input type="Contraseña" placeholder="Ingresar contraseña">
    </div>
    <button class="neu-button"> Iniciar sesion</button>
    

    <p class="signup-link">
        No tienes cuenta?
        <button routerLink="/registrarse">Registrarse</button>
    </p>
</form>
</body>